body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul {
    list-style-type: square;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: royalblue;
}


